  <!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Otel Yönetim</title>
<!--favicon-->
<link rel="icon" href="~/Areas/ManagementPanel/Content/images/favicon-32x32.png" type="image/png" />
<!-- Vector CSS -->
<link href="~/Areas/ManagementPanel/Content/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
<!--plugins-->
<link href="~/Areas/ManagementPanel/Content/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
<link href="~/Areas/ManagementPanel/Content/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
<link href="~/Areas/ManagementPanel/Content/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
<!-- loader-->
<link href="~/Areas/ManagementPanel/Content/css/pace.min.css" rel="stylesheet" />
<script src="~/Areas/ManagementPanel/Scripts/js/pace.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/Areas/ManagementPanel/Content/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;family=Roboto&amp;display=swap" />
<!-- Icons CSS -->
<link rel="stylesheet" href="~/Areas/ManagementPanel/Content/css/icons.css" />
<!-- App CSS -->
<link rel="stylesheet" href="~/Areas/ManagementPanel/Content/css/app.css" />
<link rel="stylesheet" href="~/Areas/ManagementPanel/Content/css/dark-sidebar.css" />
<link rel="stylesheet" href="~/Areas/ManagementPanel/Content/css/dark-theme.css" />

@* File uploader *@
<link href="~/Areas/ManagementPanel/Content/plugins/fancy-file-uploader/fancy_fileupload.css" rel="stylesheet" />
<link href="~/Areas/ManagementPanel/Content/plugins/Drag-And-Drop/dist/imageuploadify.min.css" rel="stylesheet" />


@* CK EDITOR *@
<script src="~/Areas/ManagementPanel/ckeditor/ckeditor.js"></script>


@* JQUERY *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


@* CALENDAR *@
<link href="~/Areas/ManagementPanel/Content/plugins/fullcalendar/css/main.min.css" rel="stylesheet" />